html {
  height: 100%;
  background-color: grey;
}

.action-btn {
  padding: 9px;
  border-radius: 5px;
  background-color: darkgrey;
}

.bubble {
  list-style-type: none;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #2C3B42;
}

.sub-bubble {
  background-color: lightgrey;
  padding: 5px;
  font-size: .8em;
}

.capsule {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: fit-content;
  margin-top: 7px;
}

.capsule p,
.capsule ul,
.capsule h3 {
  margin: 0;
}

.capsule h3 {
  background-color: lightblue;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px 0px 0px 10px;
}

.capsule ul {
  padding: 0px;
}

.capsule li {
  display: flex;
  align-items: center;
  padding: 12px;
}

.flex {
  display: flex;
}

.sub-text {
  font-size: .9em;
  padding-right: 7px;
}

.c-blue {
  background-color: lightblue;
  color: #2C3B42;
}

ul {
  display: flex;
  flex-wrap: wrap
}

ul li {
  list-style-type: none;
  vertical-align: center;
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #161E21;
  color: #AFBEC5
}

.card h1 {
  margin-bottom: 0;
}
