<div class="card">

  <h1>{{ patient.f_name }} {{ patient.l_name }}</h1>  
  <div class="flex">
    <p class="sub-text">Age: {{ patient.age }}</p>
    <p class="sub-text">Session# {{ patient.session_count }}</p>
  </div>

  <button class="action-btn">Reassesment</button>

</div>

<div class="card">

  <h2>History</h2>  

  <ul>
    <li class="bubble" *ngFor="let i of patient.history">{{ i }}</li>
  </ul>

  <ul>
    <li class="bubble sub-bubble" *ngFor="let q of p_questions">
      <span>{{ q }}</span>
    </li>
  </ul>

</div>


<div class="card">

  <h3>Symptoms</h3>
  <ul>
    <li class="bubble" *ngFor ="let i of patient.symptoms">{{ i }}</li>
  </ul>

</div>

<div class="card">

  <h2>Lifestyle</h2>

  <div class="flex capsule ">
    <h3 class="c-blue">Water</h3>
    <ul><li *ngFor ="let i of patient.water">{{ i }}</li></ul>
  </div>

  <div class="flex capsule">
    <h3 class="c-blue">Exercise</h3>
    <ul><li *ngFor ="let i of patient.exercise">{{ i }}</li></ul>
  </div>

  <div class="flex capsule">
    <h3 class="c-blue">Work</h3>
    <ul><li *ngFor ="let i of patient.work">{{ i }}</li></ul>
  </div>

  <div class="flex capsule">
    <h3 class="c-blue">Stress</h3>
    <ul><li *ngFor ="let i of patient.stress">{{ i }}</li></ul>
  </div>

  <div class="flex capsule">
    <h3 class="c-blue">Sleep</h3>
    <ul><li *ngFor ="let i of patient.sleep">{{ i }}</li></ul>
  </div>

  <div class="flex capsule">
    <h3 class="c-blue">Medications</h3>
    <ul><li *ngFor ="let i of patient.medications">{{ i }}</li></ul>
  </div>

</div>

<div class="card">

  <h3>Conductivity</h3>
    <p>{{ patient.conductivity }}</p>

  <h3>Findings</h3>
  <ul *ngFor ="let i of patient.findings">
    <li>{{ i }}</li>
  </ul>

  <h3>Diet</h3>
  <ul *ngFor ="let i of patient.diet">
    <li>{{ i }}</li>
  </ul>

  <h3>Food Restricions</h3>
  <ul *ngFor ="let i of patient.food_restrictions">
    <li>{{ i }}</li>
  </ul>

  <h3>Work</h3>
  <ul *ngFor ="let i of patient.work">
    <li>{{ i }}</li>
  </ul>

  <h3>Stress</h3>
  <ul *ngFor ="let i of patient.stress">
    <li>{{ i }}</li>
  </ul>

  <h3>Medications</h3>
  <ul *ngFor ="let i of patient.medications">
    <li>{{ i }}</li>
  </ul>


</div>
